<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.high.shop.mapper.HotSearchMapper">

    <resultMap id="BaseResultMap" type="com.high.shop.domain.HotSearch">
            <id property="hotSearchId" column="hot_search_id" jdbcType="BIGINT"/>
            <result property="shopId" column="shop_id" jdbcType="BIGINT"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="recDate" column="rec_date" jdbcType="TIMESTAMP"/>
            <result property="seq" column="seq" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        hot_search_id,shop_id,content,
        rec_date,seq,status,
        title
    </sql>
</mapper>
