<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.high.shop.mapper.ProdCommMapper">

    <resultMap id="BaseResultMap" type="com.high.shop.domain.ProdComm">
            <id property="prodCommId" column="prod_comm_id" jdbcType="BIGINT"/>
            <result property="prodId" column="prod_id" jdbcType="BIGINT"/>
            <result property="orderItemId" column="order_item_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="replyContent" column="reply_content" jdbcType="VARCHAR"/>
            <result property="recTime" column="rec_time" jdbcType="TIMESTAMP"/>
            <result property="replyTime" column="reply_time" jdbcType="TIMESTAMP"/>
            <result property="replySts" column="reply_sts" jdbcType="INTEGER"/>
            <result property="postip" column="postip" jdbcType="VARCHAR"/>
            <result property="score" column="score" jdbcType="TINYINT"/>
            <result property="usefulCounts" column="useful_counts" jdbcType="INTEGER"/>
            <result property="pics" column="pics" jdbcType="VARCHAR"/>
            <result property="isAnonymous" column="is_anonymous" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="evaluate" column="evaluate" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        prod_comm_id,prod_id,order_item_id,
        user_id,content,reply_content,
        rec_time,reply_time,reply_sts,
        postip,score,useful_counts,
        pics,is_anonymous,status,
        evaluate
    </sql>
</mapper>
