<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.high.shop.mapper.UserAddrOrderMapper">

    <resultMap id="BaseResultMap" type="com.high.shop.domain.UserAddrOrder">
            <id property="addrOrderId" column="addr_order_id" jdbcType="BIGINT"/>
            <result property="addrId" column="addr_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="receiver" column="receiver" jdbcType="VARCHAR"/>
            <result property="provinceId" column="province_id" jdbcType="BIGINT"/>
            <result property="province" column="province" jdbcType="VARCHAR"/>
            <result property="areaId" column="area_id" jdbcType="BIGINT"/>
            <result property="area" column="area" jdbcType="VARCHAR"/>
            <result property="cityId" column="city_id" jdbcType="BIGINT"/>
            <result property="city" column="city" jdbcType="VARCHAR"/>
            <result property="addr" column="addr" jdbcType="VARCHAR"/>
            <result property="postCode" column="post_code" jdbcType="VARCHAR"/>
            <result property="mobile" column="mobile" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        addr_order_id,addr_id,user_id,
        receiver,province_id,province,
        area_id,area,city_id,
        city,addr,post_code,
        mobile,create_time,version
    </sql>
</mapper>
